.side-image {
  clip-path: polygon(19% 0, 100% 0, 78% 100%, 0 100%);
  margin-top: 20px;
  height: 585px;
  width: 450px;
  object-fit: cover;
  object-position: right top;
}
/*
NOTE: This has been disabled because this affects other places where Radio buttons are use in colums

.pgn__form-control-set{
  flex-direction: row;
}
.pgn__form-control-set-inline{
  align-items: unset;
}
*/