#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FBFAF9;
}

.page-light-bg {
    background: $light-200;
}

.fill-vertical-space {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 600px;
}

footer a img {
    max-height: 50px;
}
